*{
    box-sizing: border-box;             /*KUVAT: https://www.piqsels.com/en/search?q=using+phone */
}

body{
    font-size: 15px/1.5;
    font-family: "oxygen";
    padding: 0;
    margin: 0;
    background-color: #f7f5f1;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.container{
    width: 98%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    /* text-align: center; */
    
}

.highlight{
    font-weight: bold;
}

/* Navbar */

.navbar-brand{
    margin: 0;
    display: flex;
    align-content: space-around;
}

.logo{
    height: 60px;
    width: 60px;
    order: 1;
    float: left;
}

nav a{
    font-size: 1em;
    margin-left: 100px;
}


/* Header */
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#showcaseTuki{
    height: 550px;
    background-image: url("../images/kuva_tukisivu.jpg");
    background-size: cover;
    text-align: left;
    text-transform: uppercase;
    color:rgb(53, 53, 53);
    display: flex;
}

#showcaseTuki h1{
    font-size: 2.5em;
    margin-top: 180px;
    margin-left: 3%;
    width: 40%;
    align-items: center;
    font-family: "poppins";
}

#showcaseTuki p{
    font-size: 1em;
    padding: 3%;
    width: 100%;
    text-shadow: 0 0 3px rgb(192, 192, 192);
    text-transform: none;
    align-items: flex-end;
    font-family: "poppins";
}

#showcaseIndex{
    height: 550px;
    background-image: url("../images/phone-telephone-old-yellow.jpg");
    background-size: cover;
    text-align: left;
    text-transform: uppercase;
    color:rgb(255 ,255 ,255);
    display: flex;

}

#showcaseIndex h1{
    font-size: 5em;
    margin-top: 180px;
    margin-left: 3%;
    width: 40%;
    align-items: center;
    font-family: "poppins";
}
#showcaseIndex p{
    font-size: 1em;
    padding: 3%;
    width: 100%;
    text-shadow: 0 0 3px rgb(192, 192, 192);
    text-transform: none;
    align-items: flex-end;
    font-family: "poppins";
}

#showcaseProd{
    min-height: 550px;
    background-image: url("../images/sim.jpg");
    background-size: cover;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    color:rgb(29, 29, 29);
}

#showcaseProd h1{
    font-size: 2.5em;
    margin-top: 180px;
    margin-left: 3%;
    width: 40%;
    align-items: center;
    font-family: "poppins";
}

#showcaseProd p{
    font-size: 1em;
    padding: 3%;
    width: 100%;
    text-shadow: 0 0 3px rgb(192, 192, 192);
    text-transform: none;
    align-items: flex-end;
    font-family: "poppins";
    color: rgb(29, 29, 29);
}

#showcaseyht{
    min-height: 550px;
    background-image: url("../images/yhteystd.jpg");
    background-size: cover;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    color:rgb(255 ,255 ,255);
}

#showcaseyht h1{
    font-size: 2.5em;
    margin-top: 180px;
    margin-left: 3%;
    width: 40%;
    align-items: center;
    font-family: "poppins";
}

#showcaseyht p{
    font-size: 1em;
    padding: 3%;
    width: 100%;
    text-shadow: 0 0 3px rgb(192, 192, 192);
    text-transform: none;
    align-items: flex-end;
    font-family: "poppins";
}

/*Main*/

#main-col{
    /* width: 65%; */
    line-height: 1.5em;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#main-col h2{
    font-size: 2em;
    font-weight: bold;
    margin-right: 15px;
    flex: 1;
    flex-basis: 45%;
    justify-content: flex-start;
}

#main-col p{
    font-size: 0.8em;
    margin-top: 35px;
    margin-left: 15px;
    flex: 1;
    flex-basis: 40%;
    text-align: left;
    justify-content: flex-end;
}

#sidebar{
    float: right;
    width: 30%;
    line-height: 1.5em;
    padding: 30px;

}

#sidebar h3{
    font-size: 1.5em;
}

#sidebar img {
    max-width: 100%;
}

.dark{
    background-color: rgb(255, 153, 0);
    padding: 15px;
    color: white;
    
}

/*collapse*/
.collapsible {
    background-color: rgb(131, 126, 122);
    color: white;
    cursor: pointer;
    padding: 28px;
    width: 100%;
    border: 2px white solid;
    text-align: left;
    outline: none;
    font-size: 0.8em;
  }
  

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activecollapse, .collapsible:hover {
    background-color: rgb(250, 126, 81);
    font-size: 0.8em;
    font-weight: bold;
    color: white;
  }
  
  /* Style the collapsible content. Note: hidden by default */

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 0.8em;
}  

.active:after{
    content:'\2212';
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-size: 0.8em;
  }

#main li{
    list-style-type: none;
}

.content li{
    font-size: 0.8em;
    text-align: left;
}



.message input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    font-size: 1.1em;
}

.message textarea{
    font-family:"oxygen";
    padding: 4px;
    width: 100%;
    height: 10em;
    font-size: 1.1em;
}

.message button{
    width: 100%;
    height: 40px;
    background-color: teal;
    border: 0;
    font-size: 1.1em;
}

/*Boxes* - Juuso*/

.price-container{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-bottom: 3rem;
    margin-top: 30px;
}

.price-container p{
    font-size: 13px;
}

.price-box{
    width: 400px;
    height: 600px;
    border: 1px solid darkgrey;
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 1.5rem 2.0rem 0.5rem;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1)
}

.price-box-moose{
    width: 50%;
    min-width: 400px;
    height: 100%;
    border: 1px solid darkgrey;
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding: 1.0rem 2.0rem 0.5rem;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1)
}

.price-box img{
    width: 200px;
    height: 70px;   
}

.price-box-moose img{
    width: 200px;
    height: 70px;
}
.p-container{
    width: 100%;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 400px;
}

.p-box{
    width: 80%;
    height: inherit;
    border: 1px solid darkgrey;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

.orderbtn{
    border: 1px solid rgb(17, 17, 17);
    width: 40%;
    height: 35px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    background-color: orangered;
    border-radius: 4px;
    font-family: "poppins";
}

.orderbtn-moose{
    border: 1px solid rgb(17, 17, 17);
    width: 40%;
    height: 35px;
    text-align: center;
    display: inline-block;
    margin-top:20px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    background-color: orangered;
    border-radius: 4px;
    font-family: "poppins";
}

*{
    box-sizing: border-box;
}
/*Newsletter*/

#newsletter{
    background-color: gray;
    color: white;
    padding: 28px 0;
}

#newsletter h2{
    float: left;
    width: 50%;
    
}

#newsletter form{
    float: right;
    width: 50%;
}

#newsletter input[type="email"]{
    width: 60%;
    padding: 4px;
    height: 40px;
    margin-top: 15px;
    font-size: 1.1em;
}

#newsletter button{
    width: 35%;
    min-width: 100px;
    background-color: rosybrown;
    height: 30px;
    border: 0;
    font-size: 1.1em;
}

h3{
    font-family: "poppins";
    color: rgb(65, 65, 65);
    font-size: 40px;
}

h4{
    font-family: "poppins";
    color: white;
    font-size: 30px;
}

h4:link {
    color: white;
    font-family: "poppins";
}
  
h4:hover {
    color: rgb(17, 17, 17);
    font-family: "poppins";
}

#main-col h1 {
    font-size: 1.5em;
}

#sidebar {
    float: right;
    width: 30%;
    line-height: 1.5em;
    padding: 15px;
}

#sidebar h3 {
    font-size: 1.2em;
}

#sidebar img {
    max-width: 100%;
}

.message input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    font-size: 1.0em;
}

.message textarea {
    font-family: 'lato', sans-serif;
    padding: 4px;
    width: 100%;
    height: 10em;
    font-size: 1.0em;
}

/* Services */
#services li {
    list-style-type: none;
    padding: 20px;
    border: #cccccc solid 1px;
    background-color: #e6e6e6;
    margin-bottom: 10px;
}

/* Index-page imageboxes */
#imagebox {
    width: 100%;
    height: 100%;
    float: center;
    text-align: center;
    padding-bottom: 600px;
 
}

#imagebox img{
    max-width: 300px;
    max-height: 300px;
    border: 3px solid rgb(255, 153, 0);
    display: flexbox;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*FOOTER*/

footer{
    display: block;
    position: relative;
    height: 250px;
}

.row {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 101%;
    background-color: rgb(255, 153, 0);
    padding-top: 20px;
    font-size: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }



/* HUOM! Alla olevat säädöt koskevat ainoastaan mobiililaitteilla käyttöä ja ruudun pienentyessä alle 768px:n */

@media only screen and (max-width: 768px){      /*käytetty media-query:ä*/
     .container{
         width: 95%;
     }
     header{
         padding: 10px, 0;
     }
     #branding{
         width: 100%;
         clear: both;
     }
     header nav{
         margin-top: 70px;
         float: none;
         width: 100%;
         clear: both;
     }
     header nav ul{
         display: block;
         /* margin: 20px auto; */
         width: 100%;
         text-align: center;
     }
     header nav ul li{
         width: 100%;
         display: block;
         clear: both;
         text-align: center;
         padding: 10px 0;
     }
     #newsletter {
         padding: 20px 0;
     }
     #newsletter h1{
         width: 100%;
         margin-top:15px;
     }
     #newsletter form{
         width: 100%;
         margin-top:15px;
     }
     #newsletter input[type="email"], .message input, .message textarea, #newsletter button, .message button{
         width: 100%;
         padding: 4px;
         height: 40px;
     }
     #sidebar, #main-col{
        width: 100%;
        padding: 20px;
     }
     #sidebar h1{
         width: 100%;
     }
     #showcase h1{
         font-size: 1.5em;
     }
     #showcase p{
         font-size: 1em;
     }
     
}