





/* Nämä on lähinnä testailuja, liittyvät Headeriin */

header{
    background-color: coral;
    height: 100px;
    background-position: center;
}

ul {
   float: right;
   list-style-type: none;

}

ul li {
display: inline-block;

}

ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 3px, solid black;
}