*{
    box-sizing: border-box;             /*KUVAT: https://www.piqsels.com/en/search?q=using+phone */
}

body{
    font-size: 15px/1.5;
    font-family: "oxygen";
    padding: 0;
    margin: 0;
    background-color: #f7f5f1;
}

ul{
    padding: 0;
    margin: 0;
}

.container{
    width: 98%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.highlight{
    color: rgb(216, 204, 190);
    font-weight: bold;
}

/* Header */

header{
    background-color: orangered;
    color: #f7f5f1;
    padding: 5px 0;
    min-height: 70px;
    border-bottom: orange 5px solid;
}

#branding img{          /*id = branding*/
    display: block;
    float: left;
    padding: 0px;
    margin: 0px 10px 0px 10px;
    height: 50px;
    font-size: 20px;
}

#branding h1{
    margin: 0px;
    font-family: "poppins";
    
}

header a{
    color: white;
    text-decoration: none; /*linkkien alaviiva pois*/
    text-transform: uppercase;
    font-size: 18px;

}

header li{
    display: inline;
    padding: 0 20px; /*ylös ja alas 0, 20px sivuille*/
}

header nav{
    float: right;
    margin: 15px;
}

header #branding{
    float: left;
}

/* Showcase */

#showcase{
    min-height: 400px;
    background-image: url("../images/kuva_tukisivu.jpg");
    text-align: left;
    text-transform: uppercase;
    color:rgb(83, 82, 82);
}

#showcase h1{
    font-size: 4em;
    margin-top: 100px;
    margin-left: 3%;
    font-family: "poppins";
}

#showcase p{
    font-size: 26px;
    padding: 3%;
    font-family: "poppins";
    text-transform: none;
}

/*Main*/

#main-col{
    float: left;
    width: 65%;
    line-height: 1.5em;
    padding: 30px;
}

#main-col h2{
    font-size: 1.5em;
}

#main li{
    list-style-type: none;
}

#sidebar{
    float: right;
    width: 30%;
    line-height: 1.5em;
    padding: 30px;
}

#sidebar h3{
    font-size: 1.5em;
}

#sidebar img {
    max-width: 100%;
}

.dark{
    background-color: slategray;
    padding: 15px;
    color: white;
}

.message input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    font-size: 1.1em;
}

.message textarea{
    font-family:"oxygen";
    padding: 4px;
    width: 100%;
    height: 10em;
    font-size: 1.1em;
}

.message button{
    width: 100%;
    height: 40px;
    background-color: teal;
    border: 0;
    font-size: 1.1em;
}

/*Boxes* - Juuso*/

.price-container{
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-bottom: 3rem;
    margin-top: 30px;
}

.price-box{
    width: 400px;
    height: 500px;
    border: 1px solid darkgrey;
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-container{
    width: 100%;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 400px;
}

.p-box{
    width: 50%;
    height: inherit;
    border: 1px solid darkgrey;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Newsletter*/

#newsletter{
    background-color: gray;
    color: white;
    padding: 15px 0;
}

#newsletter h2{
    float: left;
    width: 50%;
}

#newsletter form{
    float: right;
    width: 50%;
}

#newsletter input[type="email"]{
    width: 60%;
    padding: 4px;
    height: 40px;
    margin-top: 15px;
    font-size: 1.1em;
}

#newsletter button{
    width: 35%;
    min-width: 100px;
    background-color: rosybrown;
    height: 40px;
    border: 0;
    font-size: 1.1em;
}

/* HUOM! Alla olevat säädöt koskevat ainoastaan mobiililaitteilla käyttöä ja ruudun pienentyessä alle 768px:n */

@media only screen and (max-width: 768px){      /*käytetty media-query:ä*/
     .container{
         width: 95%;
     }
     header{
         padding: 10px, 0;
     }
     #branding{
         width: 100%;
         clear: both;
     }
     header nav{
         margin-top: 70px;
         float: none;
         width: 100%;
         clear: both;
     }
     header nav ul{
         display: block;
         /* margin: 20px auto; */
         width: 100%;
         text-align: center;
     }
     header nav ul li{
         width: 100%;
         display: block;
         clear: both;
         text-align: center;
         padding: 10px 0;
     }
     #newsletter {
         padding: 20px 0;
     }
     #newsletter h1{
         width: 100%;
         margin-top:15px;
     }
     #newsletter form{
         width: 100%;
         margin-top:15px;
     }
     #newsletter input[type="email"], .message input, .message textarea, #newsletter button, .message button{
         width: 100%;
         padding: 4px;
         height: 40px;
     }
     #sidebar, #main-col{
        width: 100%;
        padding: 20px;
     }
     #sidebar h1{
         width: 100%;
     }
     #showcase h1{
         font-size: 1.5em;
     }
     #showcase p{
         font-size: 1em;
     }
}